h1, h2, h3, h4, h5 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
body {
    font-family: 'B612', sans-serif;
}


.skateshop-image {
    display: block;
    margin: auto;
    height: 200px;
}

.strong {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Alegreya', serif;
}
.span {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Alegreya', serif;
}

p{
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Alegreya', serif;

}

.brand-logos:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    -webkit-transform:scale(2.5);
    transform:scale(2.5);

}

.lownav {
padding-right: 140px;
padding-left: 795px;
} 

#footer-logo{
    margin-right: 146px;
}

#category-breadcrumb {
    margin-right: 19px;
    padding-left: 23px;
}

#sellingskateboards-image{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-container {
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 2400px;
    height: 800px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    top: -20px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target ~ .image-container {
    left: 0px;
}
#slider-image-2:target ~ .image-container {
    left: -800px;
}
#slider-image-3:target ~ .image-container {
    left: -1600px;
}




